@model MeetingInfo;
@{
    ViewBag.Title = "Toplantı Başvuru";
    Layout = "_Layout2";
}
<main class="text-center">
    <h1 class="h4">@ViewData["Selamlama"], @ViewData["UserName"]</h1>
    <p>Toplantı katılım durumunuzu bildiriniz.</p>
    <div class="card my-2">
        <ul class="list-group list-group-flash">
            <list class="group-item">@Model.Location</list>
            <list class="group-item">@Model.Date.ToString("dd/MM/yyyy HH:mm:ss") tarihinde gerçekleşecek</list>
            <list class="group-item">@Model.NumberOfPeople Katılımcı</list>
        </ul>
    </div>
<a class="btn btn-sm btn-outline-primary" asp-controller="Meeting" asp-action="Apply">Başvuru Yap</a>
</main>
